NODE_ENV=production
PORT=10000

DATABASE_URL=PASTE_RENDER_POSTGRES_INTERNAL_DATABASE_URL

ACCESS_KEY=CHANGE_THIS_PRIVATE_USER_ACCESS_KEY
JWT_SECRET=CHANGE_THIS_LONG_RANDOM_USER_JWT_SECRET

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=CHANGE_THIS_STRONG_ADMIN_PASSWORD
ADMIN_JWT_SECRET=CHANGE_THIS_LONG_RANDOM_ADMIN_JWT_SECRET

FRONTEND_URL=https://frontend-six-jade-97.vercel.app

TRADING_ENABLED=false

MT5_PROVIDER=metaapi
METAAPI_TOKEN=PASTE_METAAPI_TOKEN
METAAPI_REGION=new-york
